.contact-me {
  line-height: 1.375em;
  letter-spacing: 0.1em;
  font-size: 13px;
  padding-bottom: 10px;
  
}

.contact-me-information {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
  font-size: 10px;
  
}

.contact-me-information > a,
.contact-me-information > a:visited {
  text-decoration: none;
  color: #0a1a2b;
}
