nav {
  position: fixed;
  width: 180px;
  height: 100%;
  padding-left: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  transition: left 1s;
  left: 0;
  background-color: #f7f2f0;
  z-index: 1;
  &.closed {
    left: -200px;
    transition: left 1s;
  }
}

.list-menu {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

.download-resume {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #0a1a2b;
}

.arrow-up {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #e8604c;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;
  &.show {
    display: flex;
  }
}

.arrow-up > div {
  border: 2px solid #f7f2f0;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  border-left: none;
  border-bottom: none;
  margin-top: 5px;
  
}

@media (max-width: 768px) {
  .menu {
    /* display: none; */
  }
  nav {
    left: auto;
    right: 0;
    transition: right 1s;
    &.closed {
      right: -280px;
      transition: right 1s;
      left: auto;
    }
  }
}
